
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>web sayfam</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MİGREN</h1>
    <p style="color: red">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, rerum.
    </p>
    <details>
      <h2>Migren belirtileri</h2>
      <h2>Migren tedavisi</h2>
      <h3>Ameliyatla tedavi</h3>
      <h3>İlaçla tedavi</h3>
      <h2>Migren çeşitleri</h2>
    </details>

    <!-- biçimlendirme etiketleri -->
    <i>Lorem, ipsum dolor.</i>
    <br />
    <em>Lorem, ipsum.</em>
    <br />
    <small>Lorem ipsum dolor sit amet.</small>
    <br />
    <b>Lorem, ipsum.</b>
    <br />
    H<sub>2</sub>O X<sup>2</sup>

    <img
      src="https://avatanplus.com/files/resources/original/581c9300d1f2e1582f9e3b5c.png"
      width="200"
    />
    <a
      href="https://avatanplus.com/files/resources/original/581c9300d1f2e1582f9e3b5c.png"
      target="_blank"
      >resmi görüntüle</a
    >
    <a href="mailto:info@gmail.com">mail gönder</a>
    <ul>
      <li>taha</li>
      <li>ahmet</li>
      <li>elif</li>
    </ul>
    <ol type="1" start="10">
      <li>ahmet</li>
      <li>taha</li>
      <li>elif</li>
    </ol>
    <dl>
      <dt>taha</dt>
      <dd>55</dd>
      <dt>elif</dt>
      <dd>61</dd>
    </dl>
  </body>
</html>

